.moviesCard {
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.moviesCard__head {
  margin: 0;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moviesCard__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.moviesCard__subtitle {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}

.moviesCard__button {
  padding: 8.5px 10px;
  background: #F9F9F9;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.moviesCard__button_active {
  background: #2BE080;
}

.moviesCard__body {
  padding: 0;
  margin: 0;
  flex: 1;
}

.moviesCard__body-link {
  width: 100%;
  height: 100%;
}

.moviesCard__image {
  width: inherit;
  height: inherit;
}
