.header {
  margin: 0;
  padding: 18px 70px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0 44px 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px 38px 30px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding: 14px 14px 18px 14px;
  }
}
