.register {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register__container {
  min-width: 396px;
}

.register__logo {
  margin-bottom: 38px;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}

.register__form-wrapper {
  margin-top: 152px;
}

.register__text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.register__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #3456F3;
  text-decoration: none;
}


