.login {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login__container {
  min-width: 396px;
}

.login__logo {
  margin-bottom: 40px;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}

