.formButton {
  width: 100%;
  border: none;
  padding: 15px 0;
  background: #3456F3;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.5s ease;
  cursor: pointer;
}

.formButton:hover {
  opacity: 0.8;
}

.formButton:focus {
  background: #3d4c95;
}

.formButton:disabled {
  background: #F8F8F8;
  color: #C2C2C2;
}
