.formButton {
  width: 100%;
  border: none;
  padding: 15px 0;
  background: #3456F3;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.formButton:hover {
  opacity: 0.8;
}
