.aboutMe {
  margin: 0;
  padding: 110px 70px 125px 70px;
}

.aboutMe__title-main {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
  margin-bottom: 66px;
}

.aboutMe__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
  margin-bottom: 18px;
}

.aboutMe__subtitle {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.aboutMe__paragraph {
  margin-bottom: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.aboutMe__wrapper {
  display: flex;
  gap: 270px;
}

.aboutMe__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 20px;
}

.aboutMe__img {
  width: 270px;
  border-radius: 10px;
}

.aboutMe__portfolio-title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.aboutMe__portfolio-item {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.aboutMe__portfolio-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 19px;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 20px;
}

.aboutMe__portfolio-link {
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .aboutMe {
    margin: 0;
    padding: 90px 50px;
  }

  .aboutMe__img {
    width: 255px;
  }

  .aboutMe__title {
    font-size: 40px;
    line-height: 40px;
  }
  .aboutMe__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
  .aboutMe__paragraph {
    font-size: 12px;
    line-height: 18px;
  }
  .aboutMe__wrapper {
    display: grid;
    grid-template-columns: 364px 255px;
    gap: 49px;
  }
  .aboutMe__portfolio-item {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe {
    margin: 0;
    padding: 70px 14px;
  }
  .aboutMe__title-main {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
    margin-bottom: 60px;
  }

  .aboutMe__wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: column-reverse;
  }
  .aboutMe__img {
    width: 100%;
  }
  .aboutMe__paragraph {
    margin-bottom: 40px;
  }
  .aboutMe__portfolio-title {
    margin-top: 69px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
  }
  .aboutMe__portfolio-item {
    font-size: 18px;
    line-height: 28px;
  }
  .aboutMe__portfolio-link {
    font-size: 18px;
    line-height: 28px;
  }
}
